html,button,input,select,textarea,
.pure-g [class *= "pure-u"] {
    font-family: Hack,sans-serif;
    color:#ecebed;
}

body {
    height:100%;
    width:100%;
}
#big_box {
    height:100%;
    width:100%;
}

.pure-menu-list {
    background-color:#495495;
    width:75%;
    height:10%
    postion:fixed;
    padding:1em;
}

.pure-menu-link {
    font-size:21px;
    color:#262335;
}

.hbar {
    height:4.5%;
}

#main_body {
    padding:1.35em;
    width:100%;
    height:90.6%;
    font-size:130%;
    background-color:#262335;
}

#internal_title {
    padding-left:40em;
    color:#ecebed;

}

#text_content {
    margin-top:50px;

}

.footer {
    position:fixed;
    left:0;
    text-align: center;
    bottom:0;
    width:100%;
    background-color:#262335;
}

#header {
    width:98.70%;
}

#rest{
    width:100%;
    height:100%;
    background-color:#262335;
}
